body {
   
    
    background-image: url(bilder/feuer.jpg);
   
    background-size: 100% auto;
    
    
	font: 110% calibri, helvetica, sans-serif;
	color: #000;
   
	
    

}





.grid-container {
    
    display: grid;
    width: 90%;
    margin: auto;
    
    
    padding: 1% 50px 1%;
    
    grid-template-rows: auto auto auto 5%;

  
}



.grid-top {
    grid-row: 1;
    background-color: rgba(148, 102, 102, 0.8);
    
    
   
   
    
    
}

.grid-login {
    grid-row: 2;
    background-color: rgba(148, 102, 102, 0.8);
    text-align: right;
    padding-right: 5%;
    
    
   

}



.grid-content {
    grid-row: 3;
    background-color: rgba(148, 102, 102, 0.8);
    padding: 10px;
    
   

}

.grid-bottom {
    grid-row: 4;
   
    
    
   
    
    
}

img {
    width: 100%;
    height: 80%;
}

.pizzabild {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table{
    padding-left: 10%;
}

td{
    padding-top: 5%;
    padding-left: 5%;
}


.button {
    background-color: rgba(58, 28, 28, 0.5);
    display: inline-block;
    font-size: 200%;
    border: none;
    
    
    border-radius: 10px;
    width: 100%;
    height: 50%;
 }
 
 .button:hover {
    background-color: rgba(94, 37, 37, 0.5);
   
 }

 .mengeIn {
    width: 32px;
 }



